@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


@font-face {
    font-family: Pricedown;
    src: url(fonts/pricedown/pricedown\ bl.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #4B519C, #C974A0, #F99B8B);
    background-attachment: fixed;
    margin: 0;
    color: white;
}

h1 {
    text-align: center;
    margin: 10px auto 10px auto;
    display: block;
    font-family: Pricedown, sans-serif;
    text-shadow: 2px 2px 5px black;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.h1P {
    color: white;
}

header {
    background-image: linear-gradient(to bottom, #40469c, #c76196, #f08c7b);
    padding: 10px;
    margin: auto;
    background-attachment: fixed;
    padding: 40px;
}

#menu {
    display: flex;
    border-radius: 10px 0px 10px 0px;
    background-color: #4d53a89c;
    margin: 0px auto -40px auto;
    padding: 9px 4px 9px 4px;
}

div>li {
    display: block;
    list-style: none;
    float: left;
    padding: 1px 1px;
    margin: 10px 0px 5px auto;
}

button {
    padding: 12px;
    font-family: Pricedown, Helvetica, sans-serif;
    background-color: #3e45ab;
    color: white;
    border: none;
    transition: 1s;
    float: left;
    margin: 1px 1px 1px 1px;
} 

div>li>a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #3e45ab;
    font-family: Pricedown, Helvetica, sans-serif;
    transition: 1s;
    transform: scale(2);
}

div>li>a:hover {
    background-color: #555ee1;
    transform: scale(1.1);


}

button:hover {
    background-color: #555ee1;
    cursor: pointer;
}

main p {
    text-align: start;
    margin: 20px 10% 20px 10%;
    text-indent: 20px;
    font-size: 120%;
    font-family: Freeman, sans-serif;
    line-height: 2em;
}

.youtube-video>iframe {
    display: block;
    align-items: center;
    margin: auto;
    width: 80%;
    background-color: #4B519C;
}

main {
    background-color: white;
    color: black;
    margin: 1px 10% auto 10%;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    background-attachment: fixed;
}

#easter>h1 {
    color: white;
    background-image: linear-gradient(to right, #40469c, #c76196, #f08c7b);
    border-radius: 2px 0px 2px 0px;
    transition-duration: 1s;
}

#easter>h1:hover {
    transform: scale(1.04);
    cursor: pointer;
    background-image: none;
    background-color: transparent;
    color: red;
}

section>picture>img {
    display: block;
    align-items: center;
    margin: 0 auto 20px;
    width: 80%;
    border-radius: 10px;
}

.hP {
    display: block;
    text-align: center;
    font-size: 2em;
    font-family: Pricedown, sans-serif;
    text-shadow: 2px 2px 5px black;
    padding: 1px auto 10px auto;
    background-color: #4b509c59;
    border-radius: 20px 0px 20px 0px;
    max-width: 700px;
    margin: 1px auto 30px auto;
    padding: 10px;
    transition: 1s;
}

.hP:hover {
    background-color: #4B519C;
}

.images>img {
    display: block;
    align-items: center;
    margin: 19px auto 10px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    transition: 1s;
    cursor: pointer;
    max-width: 700px;
}

.images>img:hover {
    transform: scale(1.03);
    box-shadow: 2px 2px 3px #4B519C;
}

.li {
    animation: infinite;
    transition: 1s;
}

